* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v10_850 {
  width: 100%;
  height: 982px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10_851 {
  width: 649px;
  height: 982px;
  background: rgba(203,228,254,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 863px;
  overflow: hidden;
}
.v10_852 {
  width: 570px;
  height: 411px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 229px;
  left: 903px;
  overflow: hidden;
}
.v10_853 {
  width: 21px;
  height: 168px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 259px;
}
.v10_854 {
  width: 235px;
  height: 120px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 26px;
}
.v10_855 {
  width: 234px;
  height: 119px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 26px;
}
.v10_856 {
  width: 250px;
  height: 53px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 26px;
}
.v10_857 {
  width: 235px;
  height: 120px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 26px;
}
.v10_858 {
  width: 233px;
  height: 15px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 40px;
}
.v10_859 {
  width: 37px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 353px;
  left: 34px;
}
.v10_860 {
  width: 37px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 34px;
}
.v10_861 {
  width: 37px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 367px;
  left: 34px;
}
.v10_862 {
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 302px;
  left: 35px;
}
.v10_863 {
  width: 11px;
  height: 88px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 185px;
}
.v10_864 {
  width: 122px;
  height: 62px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 206px;
  left: 63px;
}
.v10_865 {
  width: 122px;
  height: 62px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 206px;
  left: 63px;
}
.v10_866 {
  width: 131px;
  height: 27px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 64px;
}
.v10_867 {
  width: 122px;
  height: 62px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 206px;
  left: 63px;
}
.v10_868 {
  width: 121px;
  height: 8px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 71px;
}
.v10_869 {
  width: 19px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 238px;
  left: 68px;
}
.v10_870 {
  width: 19px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 68px;
}
.v10_871 {
  width: 19px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 68px;
}
.v10_872 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 212px;
  left: 68px;
}
.v10_873 {
  width: 36px;
  height: 48px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 361px;
  left: 533px;
}
.v10_874 {
  width: 570px;
  height: 2px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 408px;
  left: 0px;
}
.v10_875 {
  width: 42px;
  height: 84px;
  background: rgba(255,184,184,1);
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 398px;
}
.v10_876 {
  width: 35px;
  height: 70px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 417px;
}
.v10_877 {
  width: 14px;
  height: 37px;
  background: rgba(255,182,182,1);
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 477px;
}
.v10_878 {
  width: 30px;
  height: 16px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 392px;
  left: 462px;
}
.v10_879 {
  width: 27px;
  height: 38px;
  background: rgba(255,182,182,1);
  opacity: 1;
  position: absolute;
  top: 316px;
  left: 421px;
}
.v10_880 {
  width: 28px;
  height: 22px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 425px;
}
.v10_881 {
  width: 115px;
  height: 194px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 392px;
}
.v10_882 {
  width: 94px;
  height: 134px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 417px;
}
.v10_883 {
  width: 40px;
  height: 40px;
  background: rgba(255,184,184,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 435px;
}
.v10_884 {
  width: 49px;
  height: 40px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 431px;
}
.v10_885 {
  width: 6px;
  height: 51px;
  background: rgba(63,61,86,1);
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 457px;
}
.v10_886 {
  width: 71px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 386px;
}
.v10_887 {
  width: 71px;
  height: 36px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 386px;
}
.v10_888 {
  width: 76px;
  height: 16px;
  background: rgba(63,61,86,1);
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 387px;
}
.v10_889 {
  width: 71px;
  height: 36px;
  background: rgba(63,61,86,1);
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 386px;
}
.v10_890 {
  width: 70px;
  height: 4px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 391px;
}
.v10_891 {
  width: 11px;
  height: 0px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 389px;
}
.v10_892 {
  width: 11px;
  height: 0px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 389px;
}
.v10_893 {
  width: 11px;
  height: 0px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 389px;
}
.v10_894 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 389px;
}
.v10_895 {
  width: 42px;
  height: 84px;
  background: rgba(255,184,184,1);
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 449px;
}
.v10_896 {
  width: 29px;
  height: 70px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 468px;
}
.v10_897 {
  width: 65px;
  height: 97px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 326px;
}
.v10_898 {
  width: 21px;
  height: 21px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 345px;
}
.v10_899 {
  width: 14px;
  height: 14px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 384px;
}
.v10_900 {
  width: 14px;
  height: 21px;
  background: rgba(35,31,32,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 56px;
  left: 356px;
}
.v10_901 {
  width: 42px;
  height: 97px;
  background: rgba(35,31,32,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 35px;
  left: 349px;
}
.v10_902 {
  width: 62px;
  height: 97px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 23px;
}
.v10_903 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 41px;
}
.v10_904 {
  width: 13px;
  height: 13px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 304px;
  left: 41px;
}
.v10_905 {
  width: 14px;
  height: 20px;
  background: rgba(35,31,32,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 224px;
  left: 50px;
}
.v10_906 {
  width: 37px;
  height: 96px;
  background: rgba(35,31,32,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 205px;
  left: 48px;
}
.v10_907 {
  width: 43px;
  height: 33px;
  background: rgba(255,182,182,1);
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 138px;
}
.v10_908 {
  width: 45px;
  height: 72px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 108px;
}
.v10_909 {
  width: 36px;
  height: 36px;
  background: rgba(255,184,184,1);
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 112px;
}
.v10_910 {
  width: 21px;
  height: 41px;
  background: rgba(255,182,182,1);
  opacity: 1;
  position: absolute;
  top: 217px;
  left: 236px;
}
.v10_911 {
  width: 22px;
  height: 41px;
  background: rgba(255,182,182,1);
  opacity: 1;
  position: absolute;
  top: 214px;
  left: 212px;
}
.v10_912 {
  width: 145px;
  height: 87px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 108px;
}
.v10_913 {
  width: 44px;
  height: 51px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 184px;
}
.v10_914 {
  width: 52px;
  height: 111px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 105px;
}
.v10_915 {
  width: 39px;
  height: 39px;
  background: rgba(255,184,184,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 107px;
}
.v10_916 {
  width: 53px;
  height: 67px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
}
.v10_917 {
  width: 31px;
  height: 23px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 241px;
  left: 243px;
}
.v10_918 {
  width: 34px;
  height: 26px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 238px;
  left: 220px;
}
.v10_919 {
  width: 6px;
  height: 53px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 142px;
}
.v10_920 {
  width: 74px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 148px;
}
.v10_921 {
  width: 74px;
  height: 37px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 148px;
}
.v10_922 {
  width: 79px;
  height: 16px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 143px;
}
.v10_923 {
  width: 74px;
  height: 38px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 148px;
}
.v10_924 {
  width: 74px;
  height: 5px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 144px;
}
.v10_925 {
  width: 11px;
  height: 0px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 208px;
}
.v10_926 {
  width: 11px;
  height: 0px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 208px;
}
.v10_927 {
  width: 11px;
  height: 0px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 208px;
}
.v10_928 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 211px;
}
.v10_929 {
  width: 38px;
  height: 59px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 162px;
}
.v10_930 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 177px;
}
.v10_931 {
  width: 8px;
  height: 8px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 181px;
}
.v10_932 {
  width: 8px;
  height: 12px;
  background: rgba(35,31,32,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 52px;
  left: 175px;
}
.v10_933 {
  width: 22px;
  height: 59px;
  background: rgba(35,31,32,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 41px;
  left: 162px;
}
.v10_934 {
  width: 45px;
  height: 30px;
  background: rgba(255,182,182,1);
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 132px;
}
.v10_935 {
  width: 45px;
  height: 71px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 101px;
}
.v10_936 {
  width: 425px;
  height: 60px;
  background: url("../images/v10_936.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 123px;
  overflow: hidden;
}
.v10_937 {
  width: 425px;
  height: 60px;
  background: rgba(18,33,148,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v10_938 {
  width: 134px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 146px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v10_939 {
  width: 355px;
  height: 54px;
  background: url("../images/v10_939.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 222px;
  left: 123px;
  overflow: hidden;
}
.v10_940 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10_941 {
  width: 45px;
  height: 45px;
  background: url("../images/v10_941.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 310px;
  overflow: hidden;
}
.v10_942 {
  width: 383px;
  color: url("../images/v10_942.png");
  position: absolute;
  top: 287px;
  left: 123px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v10_943 {
  width: 131px;
  color: rgba(35,31,32,1);
  position: absolute;
  top: 423px;
  left: 123px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v10_944 {
  width: 75px;
  height: 75px;
  background: url("../images/v10_846.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 36px;
  overflow: hidden;
}
